<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="リレーション (Re:lation) - 料金"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <header id="plans-header" class="section section-header">
        <div class="section__container">
          <h4>SUBSCRIPTION PLANS</h4>
          <h2>料金プラン</h2>
        </div>
      </header>


      {{> _section-plans-table}}


      <section id="plans-seminar" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <h1>
              <span>新規加入企業様限定</span>
              <br/>
              セミナー特典実施中!
            </h1>
          </div>
          <div class="contents-wrapper">
            <div class="contents">
              <h2>一般社団法人<br/>日本ビジネスメール協会<br/>からの<span>2大特典</span></h2>
            </div>
            <div class="contents contents-detail">
              <div class="contents__template">
                <p class="line1">一般社団法人日本ビジネスメール協会監修</p>
                <p class="line2">すぐに使える実践テンプレート</p>
                <p class="line3">21種搭載！</p>
              </div>
              <div class="contents__coupon">
                <p class="line1">「ビジネスメールの教科書」で<br/>案内している各種講座</p>
                <p class="line2">8,640円割引優待クーポン<br/>２枚進呈</p>
                <p class="line3">※ 有料プランご加入者に限ります。<br/>また、ライトプランでは1枚です。</p>
              </div>
            </div>
            <div class="contents contents-intro">
              <div class="introduction">
                <h3>一般社団法人<br/>日本ビジネスメール協会とは</h3>
                <p>
                  一般社団法人日本ビジネスメール協会は、日本で唯一のビジネスメールの教育者を養成する専門機関です。
                  企業におけるビジネスメール教育の普及は、社内外のコミュニケーションを円滑にするだけでなく、メールにかける時間を短縮し業務の効率化につながります。
                  ビジネスメール教育を通じて世の中のコミュニケーションを改善し、時間を創出することを目的としています。
                </p>
              </div>
            </div>
            <div class="contents pencil">
              <img alt="" src="relation/assets/images/plans/pencil.png">
            </div>
          </div>
        </div>
      </section>


      <a name="faq"></a>
      <section id="plans-faq" class="section">
        <div class="section__container">
          <div class="contents-wrapper">
            <header>
              <h4>Q & A</h4>
              <h2>よくあるご質問</h2>
            </header>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              今使っているメールアドレスは使えますか？
            </div>
            <div class="contents contents-answer">
              今お使いのメールアドレスをそのままRe:lationにてご利用いただけます。
            </div>
          </div>
          <div class="contents-wrapper">
            <div class="contents contents-question">
              複数のメールアドレスを登録できますか？
            </div>
            <div class="contents contents-answer">
              送受信に使用するメールアドレスは複数登録することが可能です。
            </div>
          </div>
          <div class="contents-wrapper">
            <div class="contents contents-question">
              フリープランはずっと無料ですか？
            </div>
            <div class="contents contents-answer">
              フリープランはずっと無料でお使いいただけます。
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              フリープランと無料お試しの違いは何ですか？
            </div>
            <div class="contents contents-answer">
              フリープランはずっと無料でお使いいただけるプランです。<br/>
              登録できるユーザー数は5名まで、そのうち送信権限のあるユーザーは1名までとなっています。<br/>
              無料お試しは有料プランを20日間無料で試用いただけるものです。<br/>
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              利用環境は？
            </div>
            <div class="contents contents-answer">
              ご利用にはインターネット接続環境が必要です。<br/>
              対応ブラウザはInternet Explorer 10以降・Firefox・Chrome・Safariです。
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              導入にあたってトレーニングはお願いできますか？
            </div>
            <div class="contents contents-answer">
              スタンダードプラン以上をご利用のお客様には無料でのオンサイトトレーニングをご提供しています。
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              セキュリティに対する取り組みは？
            </div>
            <div class="contents contents-answer">
              お客様の大切なデータを守り抜くためにセキュリティ対策に取り組んでいます。<br/>
              当社の情報セキュリティ基本方針は
              <a target="_blank" href="http://ingage.co.jp/?page_id=964">こちら</a>
              からご覧いただけます。<br/>
              具体的なデータ取り扱いについては
              <a href="relation/features/#security">こちら</a>
              に掲載しています。<br/>
              また、当社は情報セキュリティマネジメントの国際規格であるISO27001の取得企業です。(IS639494)
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              解約は簡単ですか？
            </div>
            <div class="contents contents-answer">
              契約後の最低利用期間は3ヶ月となっておりますが、以降であればいつでも解約いただけます。<br/>
              書面により解約届けをいただきますと、当社受領日の翌月末をもって解約となります。
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              解約する際、Re:lation内のデータの取得方法は？
            </div>
            <div class="contents contents-answer">
              Re:lation内に保存されたすべてのメールデータをCSVファイルとして取得していただけます。<br/>
              取得いただけるデータはテキスト部分のみであり、添付ファイルは取得いただけません。
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              月半ばでのプラン変更の際の料金は？
            </div>
            <div class="contents contents-answer">
              プランのアップグレードの際は、差額の日割り分を頂戴いたします。<br/>
              ダウングレードの場合は、申し込み翌月末に変更となります。
            </div>
          </div>

          <div class="contents-wrapper">
            <div class="contents contents-question">
              支払い方法は？
            </div>
            <div class="contents contents-answer">
              口座自動振替または振り込みによるお支払いとなります。<br/>
              （初回のお支払いは銀行振り込みとなります）
            </div>
          </div>
        </div>
      </section>


      {{> _section-link}}
      {{> _section-contact}}
      {{> _section-back-to-top}}
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
