<footer class="layout__footer layout__fixed">
  <div class="footer__wrapper">
    <div class="footer__relation">
      <div class="footer__logo">
        <a target="_blank" href="http://ingage.jp/relation">
          <img alt="Re:lation"
               src="relation/assets/images/common/logo_relation_white.png?ver={{VERSION}}">
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="relation/">ホーム</a></li>
          <li><a href="relation/plans/">料金</a></li>
          <li><a href="relation/features/">Re:lationの機能</a></li>
          <li><a href="relation/plans/#faq">Q & A</a></li>
          <li><a href="relation/interview/">お客様の声</a></li>
          <li><a href="relation/terms/">利用規約</a></li>
        </ul>
      </nav>
    </div><!-- footer__relation -->

    <div class="footer__ingage">
      <div class="footer__logo">
        <a target="_blank" href="http://ingage.co.jp">
          <img alt="株式会社インゲージ"
               src="relation/assets/images/common/logo_ingage_white.png?ver={{VERSION}}">
        </a>
      </div>
      <nav>
        <ul>
          <li><a target="_blank" href="http://www.ingage.co.jp">
            企業情報
          </a></li>
          <li><a target="_blank" href="http://ingage.co.jp/?page_id=60">
            個人情報保護方針
          </a></li>
          <li><a target="_blank" href="http://ingage.co.jp/?page_id=964">
            情報セキュリティ基本方針
          </a></li>
        </ul>
      </nav>
    </div><!-- footer__ingage -->

    <div class="footer__isms">
      <div class="footer__logo">
        <a target="_blank" href="https://www.isms.jipdec.or.jp/isms.html">
          <img alt="ISMS"
               src="relation/assets/images/common/logo_isms.png?ver={{VERSION}}">
        </a>
      </div>
      <nav>
        <ul class="footer__social">
          <li><a target="_blank" href="https://www.facebook.com/ingagejp">
            <i class="fa fa-facebook-official"></i>
          </a></li>
          <li><a target="_blank" href="https://twitter.com/INGAGEjp">
            <i class="fa fa-twitter"></i>
          </a></li>
          <li><a target="_blank" href="https://www.youtube.com/channel/UCLZRNUO7_pJ_zRVxWtfoIHQ">
            <i class="fa fa-youtube"></i>
          </a></li>
          <li><a target="_blank" href="https://plus.google.com/105912271420465607469">
            <i class="fa fa-google-plus"></i>
          </a></li>
        </ul>
      </nav>
    </div>

    <div class="footer__copyright">
      © 2016 INGAGE Inc. All rights reserved.
    </div>
    <!--
    <nav class="footer__nav">
      <ul class="footer__nav__link">
      </ul>

      <ul class="footer__nav__social">
      </ul>
    </nav>
    -->
  </div>
</footer>
