<section id="link" class="section">
  <div class="contents-wrapper">
    <div class="contents"><a href="relation/features/">
      Re:lationの機能 <br/><span class="ruby">PRODUCT</span>
    </a></div>
    <div class="contents"><a href="relation/interview/">
      お客様の声 <br/><span class="ruby">VOICES</span>
    </a></div>
    <div class="contents"><a href="relation/plans/">
      料金プラン <br/><span class="ruby">PLANS</span>
    </a></div>
    <div class="contents"><a href="relation/terms/">
      利用規約 <br/><span class="ruby">TERMS</span>
    </a></div>
  </div>
</section>
