<section id="contact" class="section">
  <div class="section__container">
    <header>
      <h4>CONTACT US</h4>
      <h2>まずは、お気軽にお問い合わせ下さい</h2>
    </header>
    <div class="contents-wrapper">
      <div class="contents">
        <div class="contents__button contents__button__request">
          <a href="#" onclick="relation.request(); return false;">
            <i class="fa fa-envelope"></i>
            お問い合わせ・資料請求
          </a>
        </div>
      </div>
      <div class="contents">
        <div class="contents__button">
          <a href="#" onclick="relation.trial(); return false;">
            <i class="fa fa-user"></i>
            20日間無料トライアルに申込
          </a>
        </div>
      </div>
      <div class="contents">
        <div class="contents__button contents__button__twitter">
          <a target="_blank" href="https://twitter.com/INGAGEjp">
            <i class="fa fa-twitter"></i>
            Twitterでも質問OK!
          </a>
        </div>
        <a target="_blank" href="https://twitter.com/INGAGEjp"
           class="contents__link__twitter">
          <img alt="" src="relation/assets/images/common/ask_twitter.png?ver={{VERSION}}">
        </a>
      </div>
    </div>
  </div>
</section>
