<section id="navbar" class="section">
  <div class="section__container">

    <div class="navbar__button">
      <span>
        <i class="fa fa-bars"></i>
      </span>
    </div>

    <h1 class="navbar__logo">
      <a href="./relation">
        <img width="147" height="50"
             alt="リレーション (Re:lation)"
             src="relation/assets/images/common/logo_relation.png?ver={{VERSION}}">
      </a>
    </h1>

    <nav class="navbar__menu">
      <ul>
        <li><a class="anchor" href="relation/features">
          Re:lationの機能
        </a></li>
        <li><a class="anchor" href="relation/interview">
          お客様の声
        </a></li>
        <li><a class="anchor" href="relation/plans">
          料金
        </a></li>
        <li><a class="anchor" href="relation/plans/#faq">
          Q&A
        </a></li>
        <li class="split"></li>
        <li class="login"><a class="anchor" href="relation/login">
          <i class="fa fa-lock"></i>
          ログイン
        </a></li>
        <li><a href class="button" onclick="relation.trial()">
          <i class="fa fa-user"></i>
          無料でお試し
        </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
