<section id="plans-table" class="section">
  <div class="section__container">
    <div class="contents-wrapper">
      <header>
        <h4>RECOMMEND</h4>
        <h2>今なら有料プランご加入の方に特典をプレゼント中！</h2>
      </header>
    </div>


    <div class="contents-wrapper contents-wrapper__free">
      <div class="contents table-header">
        <div class="contents__plan">
          <div class="table-box">プラン</div>
        </div>
        <div class="contents__free">
          <div class="table-box">フリー <span class="annotate">※1</span></div>
        </div>
        <div class="contents__light">
          <div class="table-box">ライト <span class="annotate">※2</span></div>
        </div>
        <div class="contents__standard">
          <div class="table-box">スタン<br/>ダード</div>
        </div>
        <div class="contents__premium">
          <div class="table-box">プレミアム</div>
        </div>
        <div class="contents__enterprise">
          <div class="table-box">エンター<br/>プライズ</div>
        </div>
      </div>
      <div class="contents table-body">
        <div class="contents__plan">
          <div class="table-box fee">
            月額費用
          </div>
          <div class="table-box user">
            ユーザ <span class="annotate">※3</span>
          </div>
          <div class="table-box mbox">
            受信箱
          </div>
          <div class="table-box storage">
            ストレージ <span class="annotate">※4</span>
            <br/>
            <span class="small">(最大保存可能メール数)</span>
          </div>
          <div class="table-box twitter">
            Twitter アカウント
          </div>
          <div class="table-box button">&nbsp;</div>
          <div class="table-box chat">
            チャットサポート
          </div>
          <div class="table-box import">
            メールデータの<br/>インポート
          </div>
          <div class="table-box training">
            無料オンサイト<br/>トレーニング
          </div>
          <div class="table-box integration">
            外部システム連携
          </div>
          <div class="table-box deny-ip">
            IPアドレス制限
          </div>
          <div class="table-box phone-option">
            携帯メールアドレス
            <br/>
            オプション <span class="annotate">※5</span>
          </div>
        </div>
        <div class="contents__free">
          <div class="table-box fee"    >無料<br/><span class="desc">(初期費用 ¥0)</span></div>
          <div class="table-box user"   >5 (1)</div>
          <div class="table-box mbox"   >1</div>
          <div class="table-box storage">100MB<br/><span class="desc">(約1万通)</span></div>
          <div class="table-box twitter">1</div>
          <div class="table-box button" >
            <button onclick="relation.trial()">フリープランを申込</button>
          </div>
          <div class="table-box chat"        ><i class="fa fa-times"></i></div>
          <div class="table-box import"      ><i class="fa fa-times"></i></div>
          <div class="table-box training"    ><i class="fa fa-times"></i></div>
          <div class="table-box integration" ><i class="fa fa-times"></i></div>
          <div class="table-box deny-ip"     ><i class="fa fa-times"></i></div>
          <div class="table-box phone-option"><i class="fa fa-times"></i></div>
        </div>
        <div class="contents__light">
          <div class="table-box fee"    >月額 ¥12,800<br/><span class="desc">(初期費用 ¥15,000)</span></div>
          <div class="table-box user"   >10 (2)</div>
          <div class="table-box mbox"   >2</div>
          <div class="table-box storage">3GB<br/><span class="desc">(約30万通)</span></div>
          <div class="table-box twitter">1</div>
          <div class="table-box button" >
            <button onclick="relation.trial()">無料でお試し</button>
          </div>
          <div class="table-box chat"        ><i class="fa fa-check"></i></div>
          <div class="table-box import"      ><i class="fa fa-check"></i></div>
          <div class="table-box training"    ><i class="fa fa-check"></i></div>
          <div class="table-box integration" ><i class="fa fa-times"></i></div>
          <div class="table-box deny-ip"     ><i class="fa fa-times"></i></div>
          <div class="table-box phone-option"><i class="fa fa-times"></i></div>
        </div>
        <div class="contents__standard">
          <div class="table-box fee"    >月額 ¥29,800<br/><span class="desc">(初期費用 ¥50,000)</span></div>
          <div class="table-box user"   >10</div>
          <div class="table-box mbox"   >11</div>
          <div class="table-box storage">10GB<br/><span class="desc">(約100万通)</span></div>
          <div class="table-box twitter">3</div>
          <div class="table-box button" >
            <button onclick="relation.trial()">無料でお試し</button>
          </div>
          <div class="table-box chat"        ><i class="fa fa-check"></i></div>
          <div class="table-box import"      ><i class="fa fa-check"></i></div>
          <div class="table-box training"    ><i class="fa fa-check"></i><span class="count">2回</span></div>
          <div class="table-box integration" ><i class="fa fa-check"></i></div>
          <div class="table-box deny-ip"     ><i class="fa fa-check"></i></div>
          <div class="table-box phone-option"><i class="fa fa-check"></i></div>
        </div>
        <div class="contents__premium">
          <div class="table-box fee"    >月額 ¥76,800<br/><span class="desc">(初期費用 ¥50,000)</span></div>
          <div class="table-box user"   >50</div>
          <div class="table-box mbox"   >51</div>
          <div class="table-box storage">50GB<br/><span class="desc">(約500万通)</span></div>
          <div class="table-box twitter">5</div>
          <div class="table-box button" >
            <button onclick="relation.trial()">無料でお試し</button>
          </div>
          <div class="table-box chat"        ><i class="fa fa-check"></i></div>
          <div class="table-box import"      ><i class="fa fa-check"></i></div>
          <div class="table-box training"    ><i class="fa fa-check"></i><span class="count">5回</span></div>
          <div class="table-box integration" ><i class="fa fa-check"></i></div>
          <div class="table-box deny-ip"     ><i class="fa fa-check"></i></div>
          <div class="table-box phone-option"><i class="fa fa-check"></i></div>
        </div>
        <div class="contents__enterprise">
          <div class="table-box description">
            <a href="relation/plans#enterprise">詳細はこちら <i class="fa fa-chevron-down"></i></a>
          </div>
        </div>
      </div>
    </div>


    <div class="contents-wrapper">
      <div class="contents contents-annotate">
        <dl>
          <dt>※1</dt>
          <dd>有料版と比べ、以下の制限があります。</dd>
          <dd>- 受信は転送のみとなります。</dd>
          <dd>- 外部SMTPによる送信はできません。</dd>
          <dd>- メール作成時、本文末尾に「Re:lationより送信」が自動挿入されます。</dd>
          <dd>- チケット一覧の1ページの表示数は25件になります。</dd>
          <dt>※2</dt>
          <dd>ライトプランについては、ユーザー・受信箱・ストレージ追加はできません。</dd>
        </dl>
      </div>
      <div class="contents contents-annotate">
        <dl>
          <dt>※3</dt>
          <dd>カッコ内は送信可能ユーザ数。</dd>
          <dt>※4</dt>
          <dd>一般的なテキストメール (10KB/通) で算出しています。</dd>
          <dt>※5</dt>
          <dd>有料の追加オプションです。月額3,980円・初期費用4,980円となります。(1アドレス)</dd>
        </dl>
      </div>
    </div>


    <a name="enterprise"></a>
    <div class="contents-wrapper">
      <div class="contents contents-enterprise">
        <h2>エンタープライズ</h2>
        <p>
          プレミアムに加えて、CTI連携、LINE対応、SNS対応、テキストメッセージ対応を追加することができます。
          <br/>
          <br/>
          ユーザ数、受信箱、ストレージ、Twitterアカウントについても自由に設定できます。
          <br/>
          <span class="orange">詳しくは下記ボタンよりお問い合わせ下さい。</span>
        </p>
      </div>
    </div>


    <div class="contents-wrapper">
      <div class="contents contents-plan-contacts">
        <h3>そのほか、詳しい情報を<br/>知りたい方はこちら</h3>
        <div class="contact-button">
          <button onclick="relation.request()">
            <i class="fa fa-envelope"></i>
            お問い合わせ・資料請求
          </button>
        </div>
        <div class="pdf-link">
          <a target="_blank" href="#" onclick="relation.download('/files/plans.pdf?ver={{VERSION}}')">
            <i class="fa fa-file-pdf-o"></i>
            料金表PDFはこちら
          </a>
        </div>
        <div class="twitter">
          <a target="_blank" href="https://twitter.com/INGAGEjp">
            <img class="hidden-tablet"
                 alt="" src="relation/assets/images/common/ask_twitter.png?ver={{VERSION}}">
            <i class="fa fa-twitter hidden-pc"></i>
            <span class="hidden-pc">Twitterでも質問OK!</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
