<!doctype html>
<html class="no-js" lang="ja">
{{> _head title="利用規約 | リレーション (Re:lation)"}}

<body>
<div class="wrapper">
  <div class="wrapper-inner">

    <div class="layout__contents">
      {{> _section-nav}}

      <header id="terms-header" class="section section-header">
        <div class="section__container">
          <h4>TERMS</h4>
          <h2>利用規約</h2>
        </div>
      </header>


      <section id="terms" class="section">
        <div class="section__container">
          <h1>リレーション（Re:lation）利用規約</h1>
          <p>2016年6月3日改訂</p>

          <h3>第1章 定義</h3>

          <h4>第1条 （定義）</h4>
          <ol>
            <li>
              「当サービス」および「リレーション」、「Re:lation」とは、
              本サービスを提供する relationapp.jp のドメイン上で閲覧できるインターネット上のサービスをいいます。
            </li>
            <li>
              「ユーザ」とは、本サービスを利用する者をいいます。
            </li>
            <li>
              「ユーザ数」とは、ユーザの数をいいます。
            </li>
            <li>
              「本サービス用設備」とは、本サービスを提供するにあたり、
              当社が設置するネットワーク機器などのハードウェアおよびソフトウェアをいいます。
            </li>
            <li>
              「本サービスの料金」とは、
              ユーザが本サービスまたはオプションサービスの利用料として当社に支払う対価をいい、
              詳細は第7章に定めます。
            </li>
            <li>
              「コンテンツ」とは利用者が本サービスを利用する際に作成するまたは、
              利用開始時点から本サービスに記録されている様々な情報をいいます。
            </li>
            <li>
              前項において、利用開始時点には存在しなかった、
              ユーザが新たに作成・送信・受信した情報を「ユーザコンテンツ」といいます。
            </li>
          </ol>

          <h3>第2章 本規約の適用・改訂</h3>

          <h4>第2条 （本規約の適用）</h4>
          <ol>
            <li>
              ユーザは、当サイトにアクセスし、本規約の全ての内容を確認の上で当サービスの申し込みが完了した場合に、
              本規約に同意したものと見なされます。本規約の内容の全部または一部を承諾しないユーザについては、
              当サービスを利用できないものとします。
            </li>
            <li>
              当サービスについて当社が別途定めるガイドラインその他の規約（以下、
              「個別規約」といいます）は本規約の一部を構成するものです。
              本規約と個別規約の規定が異なるまたは矛盾するときは、個別規約の規定が優先するものとします。
            </li>
          </ol>

          <h4>第3条 （本規約の改定）</h4>
          <ol>
            <li>
              当社は、予告なく、本規約の内容を改定することができるものとします。
              本規約が改定された後の当サービスの提供条件は、改訂後の当規約の条件によるものとします。
            </li>
            <li>
              当社は、本規約を改定するときは、
              その内容について当社所定の方法によりユーザに通知します。
            </li>
            <li>
              当社が本規約を改定し、その内容について当社所定の方法によりユーザに通知した後1週間を経過後も、
              ユーザが異議なく当サービスの利用を継続していた場合は、
              ユーザは本規約の改定を承諾していたものとみなし、
              改定の効力は、前項により通知を行った時点から生じるものとします。
            </li>
          </ol>

          <h3>第3章 サービス</h3>
          <h4>第4条 （当サービスの種類および提供条件等）</h4>
          <ol>
            <li>
              当サービスの内容は、
              下記の機能を有するシステムをインターネット上に公開されているWebサイトよりログインし、
              利用することのできるサービスです。

              <ol>
                <li>メールおよびSNS投稿を受信し、その受信情報を管理する機能</li>
                <li>メールおよびSNS投稿を送信し、その送信情報を管理する機能</li>
                <li>上記に付帯するその他の機能</li>
              </ol>
            </li>
          </ol>

          <h3>第4章 サポート</h3>

          <h4>第5条 （サポート）</h4>
          <ol>
            <li>
              当社は、当サービスに関するユーザからの問い合わせ等に回答するサポートを、
              メールにより提供します。また利用プランによっては当サービス内に設置する問い合わせチャットでもサポート提供します。
            </li>
            <li>
              前項のサポートは24h・365日に休みなく受け付けます。
              回答については平日の10時〜18時の時間内に行います。
            </li>
          </ol>

          <h3>第5章 利用者の義務</h3>

          <h4>第6条 （当サイトへのアクセス）</h4>
          <ol>
            <li>
              当社は、ユーザがインターネット経由で当サイトにアクセスするために必要なサービス・環境を提供しないものとします。
              当サイトへのアクセスに際しては、
              ユーザのPC等の端末機器やネットワーク環境をユーザが用意するものとします。
            </li>
            <li>
              ユーザは、当サービスに不具合が発生したことを知ったときは、
              遅滞なく当社に通知し、協議の上で対応措置を決定するものとします。
            </li>
          </ol>

          <h4>第7条 （パスワード等の管理）</h4>
          <ol>
            <li>
              ユーザは、当サービスの利用において必要となるIDおよびパスワード
              （以下、「パスワード等」といいます）を第三者に漏洩しないよう努めるものとします。
            </li>
            <li>
              ユーザが、パスワード等の適切な管理を行わなかったことにより、
              ユーザのデータの滅失・漏洩等の損害が生じても、
              当社は一切の責任を負わないものとします。
            </li>
          </ol>

          <h4>第8条 （ユーザと第三者との紛争）</h4>
          <p>
            ユーザは、当サービスの利用に際して第三者との間で生じた知的財産権侵害、
            名誉毀損、プライバシーの侵害その他一切の紛争について、
            ユーザ自身の責任で誠実にこれを解決するものとし、
            当該紛争が原因で当社に損害が生じたときは、これを賠償するものとします。
          </p>

          <h4>第9条 （違法行為の禁止）</h4>
          <p>
            ユーザは、当サービスを利用して、
            法令により禁止されている行為または公序良俗に反する行為を行ってはならないものとします。
          </p>

          <h4>第10条 （当サービスの転売の禁止）</h4>
          <p>
            ユーザは、本規約に基づいて当社が提供する当サービスを、
            第三者に譲渡、貸与、転売してはならないものとします。
          </p>

          <h3>第6章 当社の義務</h3>

          <h4>第11条 （善管注意義務）</h4>
          <p>
            当社は、善良なる管理者の注意を持って当サービスをユーザに提供するものとします。
          </p>

          <h4>第12条 （当サービス用設備の障害等）</h4>
          <ol>
            <li>
              当社は、当サービス用設備について障害があることを知ったときは、
              遅滞なくユーザにその旨を通知するものとし、
              速やかにその修理および復旧の手配を取るものとします。
            </li>
            <li>
              当社は、当サービス用設備の内、当サイトに接続する当社が利用する電気通信回線について障害があることを知ったときは、
              当該電気通信回線を提供する電気通信事業者に修理または復旧を指示するものとします。
            </li>
          </ol>

          <h4>第13条 （通信の秘密）</h4>
          <ol>
            <li>
              当社は、電気通信事業法第4条または関係法令に基づき、利用者の通信の秘密を守るものとします。
              ただし、下記の各号に該当する場合においてはこの限りではありません。
              <ol>
                <li>刑事訴訟法または通信傍受法に基づく処分または命令の定める範囲内での開示請求を受けた場合。</li>
                <li>特定電気通信役務提供者の損害賠償責任の制限および発信者情報の開示請求等に基づく開示請求を受けた場合。</li>
              </ol>
            </li>
            <li>
              当社は、ユーザコンテンツを他社に有償・無償を問わず提供しません。
            </li>
          </ol>

          <h3>第7章 当サービスの料金</h3>

          <h4>第14条 （当サービスの料金）</h4>
          <ol>
            <li>
              ユーザは、当サービスの料金の支払いについて次のいずれかの支払い方法を選択できるものとします。
              <ol>
                <li>月額払い</li>
                <li>年額一括払い</li>
              </ol>
            </li>
            <li>
              前項の各支払い方法の詳細は下記の通りとします。
              <table>
                <tbody>
                  <tr>
                    <th>1. 月額払い</th>
                    <td>
                      <p>
                        利用料を月額で支払うものとします。
                      </p>
                      <p>
                        なお、ユーザは、月額利用料の差額分を支払うことでご利用プランのアップグレードをすることができます。
                      </p>
                      <p>
                        また、ユーザが月単位利用期間の末日までに、更新停止の通知を当社に行わない場合は、
                        月単位利用期間は自動的に更新されるものとし、
                        ユーザは本項の規定に従い継続して月額利用料の支払いをするものとします。
                      </p>
                      <p>
                        前記に関わらず、最低利用期間を3ヶ月とします。
                        月途中で利用を開始する場合、その月の利用料は1ヶ月を30日とした日割りにて算出するものとします。
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <th>2. 年額一括払い</th>
                    <td>
                      <p>
                        1年分の年額利用料を一括で支払うものとします。
                        年額一括払いを選択したときの各ユーザ毎のサービスの利用期間は、
                        利用開始後最初に来る月額払いの課金日から起算して1年を経過する日までとします
                        （以下、「年単位利用期間」といいます）。
                      </p>
                      <p>
                        なお、ユーザが年単位利用期間満了の1ヶ月前までに更新停止の通知を当社にしない場合は、
                        年単位利用期間は自動的に更新され、以降も同様とします。
                      </p>
                      <p>
                        また、ユーザは当社所定の年額利用料の差額分を支払うことでいつでもご利用プランのアップグレードをすることができます。
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              支払いは前払いとし、利用期間の開始までに支払いを完了するものとします。
            </li>
            <li>
              ユーザから特に申し出がない限り、支払い方法は「月額払い」とします。
            </li>
            <li>
              月額払いの場合、初回の支払いは初期費用及び最低利用期間（3ヶ月）を合算して支払うものとします。
            </li>
            <li>
              ユーザが料金を銀行振り込みにて行う場合は、振込手数料はユーザの負担とします。
            </li>
            <li>
              ユーザが料金を指定の期日までに支払わない場合は、年5分の利息をもってこれを支払うこととします。
            </li>
            <li>
              ユーザがいったん支払った料金は、返金しないこととします。
            </li>
            <li>
              フリープランにおいては、ユーザは当社が定める当サービスのプラン内容において無償で当サービスを利用することができます。
            </li>
            <li>
              フリープランにおいては、
              当サービス内にユーザ向けの広告を表示することがあります。
            </li>
          </ol>

          <h3>第8章 当サービスの停止等</h3>

          <h4>第15条 （やむを得ない理由による停止等）</h4>
          <ol>
            <li>
              当社は、次の各号のいずれかに該当するときは、ユーザへの通知を行った上で、
              当サービスの提供を一時中断することができるものとします。
              <ol>
                <li>当サービス用の設備の故障等により保守を行う場合</li>
                <li>当サービスの運用上または技術上の理由でやむを得ない場合</li>
                <li>その他天災地変等の当社のコントロールを超える不可抗力により当サービスを提供できない場合</li>
              </ol>
            </li>
            <li>
              当社は、当サービス用設備等の定期点検を行うため、
              ユーザに通知の上、当サービスの提供を一時的に中断できるものとします。
            </li>
            <li>
              当社は、前2項に定める事由により、
              当サービスを提供できなかったことに関してユーザが損害を被った場合であっても、
              一切の責任を負わないものとします。
            </li>
          </ol>

          <h4>第16条 （ユーザに起因する停止等）</h4>
          <ol>
            <li>
              当社は、ユーザに以下の禁止行為があった場合は、
              ユーザの一時的または永久的な当サービスへのアクセス拒否、
              アカウントの削除および当サービスの利用停止の措置（以下、「停止等」といいます）を行うことができます。
              また、停止等に起因するいかなる損失および損害について当社は一切責任を負いません。
              <ol>
                <li>当サイトのサーバやシステム、セキュリティへの攻撃、通信の解読等を行うこと</li>
                <li>当サービス用設備に対して過度なストレスをかけること</li>
                <li>不正データ、ウィルス、ワーム等の有害なプログラムを設置・稼働させること</li>
                <li>なりすまし、アフィリエイト行為、虚偽の情報の投稿を行うこと</li>
                <li>詐欺脅迫その他の犯罪行為もしくは法令に違反する行為を行うこと、またはそれらを教唆、幇助すること</li>
                <li>当サービスの正しい動作を妨害または、情報を改ざんすること</li>
                <li>当社から提供される以外の手段により当サイトにアクセスすること、またはアクセスを試みること</li>
                <li>当サービスの一部または全てを転載、複写、複製、転送、改変、賃貸、貸借、提供、再販売することおよび、それらの目的のために調査を行うこと</li>
                <li>不特定の人々に大量のメールなどを送りつけること</li>
                <li>他社を差別もしくは誹謗中傷し、またはその名誉もしくは信用を毀損すること</li>
                <li>当社または第三者の権利を侵害すること</li>
                <li>その他、法令により禁止されている行為または公序良俗に反する行為を行うこと</li>
              </ol>
            </li>
            <li>
              当社は、ユーザが当サービスの料金の未払いその他本規約に違反した場合には、
              ユーザの通知の上、利用の停止等を行えるものとします。
            </li>
            <li>
              前2項の行為によって当社に損害が生じまたは生じる恐れがあるときは、当社は当該ユーザに対して、
              当該行為の中止等適切な対応を求めると共に、発生した損害の賠償を請求することができるものとします。
            </li>
            <li>
              当社は、ユーザの利用状況を適宜確認し、長期間利用実績のないユーザについては、
              ユーザに通知の上、停止等を行い、当該ユーザのコンテンツを全て削除できるものとします。
            </li>
            <li>
              当社は、停止等を行うときは、その内容について当社所定の方法により事前にユーザに通知します。
            </li>
            <li>
              当社は、停止等を行った場合であっても、すでにユーザが支払った当サービスの料金の返金は行いません。
            </li>
            <li>
              当社は、停止等を行った場合にユーザが被った損害に対して一切の責任を負わないものとします。
            </li>
          </ol>

          <h4>第17条 （当サービスの変更・廃止等）</h4>
          <ol>
            <li>
              当社は、当社の裁量に基づき、
              当サービスの全部または一部を変更することができるものとします。
            </li>
            <li>
              当社は、当社の裁量に基づき、当サービスの全部または一部を廃止
              （以下、「廃止」といいます）することができるものとします。
            </li>
            <li>
              当社は、廃止を行うときは、その内容について当社所定の方法により事前にユーザに通知します。
            </li>
            <li>
              当社は、廃止を行った場合には、未利用料金の返金について誠実に対応を行います。
            </li>
          </ol>

          <h3>第9章 当サービスの終了等</h3>

          <h4>第18条 （ユーザによる解除）</h4>
          <ol>
            <li>
              ユーザは、いつでも将来に向かって当サービスの解除を行うことができます。
            </li>
            <li>
              前項の解除を行う際は、当社所定の手続きに従って解除の通知を行わなければならないものとします。
            </li>
            <li>
              ユーザが本条に定める解除を行ったときは、当サービスは、
              当社が解除通知を受領した月の翌月末を解約日とします。
            </li>
            <li>
              ユーザは、本条に定める解除を行った場合であっても、
              すでに当社に支払った本来の利用期間の満了日までの間の当サービスの利用にかかる料金の全部または一部の返金を受けることはできないものとします。
            </li>
            <li>
              上記にかかわらず、第14条2に規定する最低利用期間に満たない期間での解除はできません。
            </li>
          </ol>

          <h4>第19条 （当社による解除）</h4>
          <ol>
            <li>
              当社は、ユーザについて次の各号のいずれかに該当する事由があるときには、
              催告することなく直ちに当サービスの解除を行うことができるものとします。
              <ol>
                <li>本規約または個別規約に違反し、相当の期間をおいて催告したにも関わらず是正しないとき、または是正する見込みがないと合理的に判断できるとき</li>
                <li>監督官庁からユーザが行うビジネスにおいて営業取り消し・停止等の処分を受けたとき</li>
                <li>当社に対する虚偽の事実の申告、詐術その他の背信的行為があったとき</li>
                <li>法令に違反し、または公序良俗に反する行為を行ったとき</li>
                <li>支払いの停止もしくは支払い不能の状態に陥ったとき、または手形交換所から警告もしくは不渡り処分を受けたとき</li>
                <li>信用資力の著しい低下があったとき、またはこれに影響を及ぼす営業上の重要な変更があったとき</li>
                <li>第三者より差し押さえ、仮差し押さえ、仮処分、その他強制執行もしくは競売の申し立て、または公租公課の滞納処分を受けたとき</li>
                <li>破産手続き開始、民事再生手続き開始、会社更生手続き開始の申し立て等の事実が生じたとき</li>
                <li>解散の決議をしたとき</li>
                <li>本規約の履行を困難にする事由が生じたとき</li>
                <li>株主構成、役員等の変動等により組織の実質的支配関係が変化し、従前の組織との同一性がなくなったとき</li>
                <li>自らまたはその役員・従業員等が暴力団・暴力団員その他これに準ずるもの等の反社会的勢力に該当したとき</li>
                <li>長期間にわたって当サービスの使用実績がないとき</li>
                <li>当サービスの料金またはその他の債務についての不払いがあり、相当の期間をおいて催告したにも関わらず支払がないとき、または支払われる見込みがないと合理的に判断できるとき</li>
                <li>当サービスの申し込み内容に虚偽の記入があったとき</li>
                <li>前各号に定める場合の他、当社が当サービスを提供する上で重大な支障の原因となる事由を行ったとき</li>
                <li>当サービスの一部または全部の調査など、当サービスの本来の目的と異なる目的で利用したと考えられるとき</li>
              </ol>
            </li>
            <li>
              当社が本条に定める解除を行ったときは、本サービスは、
              その解除の通知がユーザに到達した日をもって終了するものとします。
            </li>
            <li>
              当社が本条に定める解除を行った場合であっても、
              すでにユーザが支払った当サービスの料金の返金は行わないものとします。
            </li>
            <li>
              当社は、本条に定める解除を行った場合であっても、
              ユーザに対する損害賠償請求権を失わないものとし、
              またユーザに生じる侵害に対して一切責任を負わないものとします。
            </li>
          </ol>

          <h3>第10章 コンテンツ</h3>

          <h4>第20条 （コンテンツ）</h4>
          <ol>
            <li>
              ユーザは、投稿するコンテンツが第三者の著作権をはじめとする知的財産権その他一切の権利を侵害するものではないことを保証するものとします。
              ユーザが投稿したコンテンツが、第三者の著作権その他何らかの権利を侵害する場合、
              当社は当該侵害に基づく損失および損害につき一切責任を負いません。
            </li>
            <li>
              当社は、本規約、法的要請またはプライバシー保護の範囲内において、
              コンテンツをモニタリングする場合がありますが、
              コンテンツの内容およびその取り扱い等に対する管理・監視義務はないものとします。
            </li>
            <li>
              当社は、以下の情報をコンテンツとして投稿することを禁止します。
              <ol>
                <li>第三者の権利および財産に対して損害を与えるリスクのある情報</li>
                <li>第三者に対して有害な情報、第三者を身体的・心理的に傷つける情報、死や自殺を助長する情報</li>
                <li>犯罪や不法行為、危険行為に属する情報およびそれらを教唆、幇助する情報</li>
                <li>不法、有害、脅迫、虐待、人種差別、中傷、名誉毀損、侮辱、ハラスメント、扇動、不快を与えることを意図し、もしくはそのような結果を生じさせる恐れのある内容を持つ情報</li>
                <li>事実に反する、または存在しないとわかっている情報</li>
                <li>ユーザ自身がコントロール可能な権利を持たない情報</li>
                <li>第三者の著作権を含む知的財産権や、その他の財産権を侵害する情報、公共の利益または個人の権利を侵害する情報</li>
                <li>わいせつ、児童ポルノまたは児童虐待に当たる画像、文書等の情報</li>
                <li>その他当社が不適切と判断する情報</li>
              </ol>
            </li>
            <li>
              ユーザが、コンテンツの投稿、ダウンロード、ストリーミング、変換、
              表示など当サービスで行う行為や当サイトへのアクセスにおいて生じたデータ欠損等によって損害を被ることがあったとしても、
              当社は一切責任を負わないものとします。
            </li>
            <li>
              当社は、当サービスのデザイン変更および機能追加・削減等に伴い、
              ユーザの事前の承認を得ることなく、写真・動画を含むコンテンツにつき、
              そのサイズ・色・配置等コンテンツの内容面以外の部分を変更することができるものとします。
            </li>
          </ol>

          <h4>第21条 （ユーザコンテンツ）</h4>
          <ol>
            <li>
              当社は、下記に定めるユーザコンテンツをユーザが取得できる手段を提供します。
              <ol>
                <li>当サービス内に格納されているメールのテキストデータ</li>
              </ol>
            </li>
            <li>
              上記手段は別途当社が定める方法にて行います。
            </li>
          </ol>

          <h3>第11章 第三者のサイトおよび関与</h3>

          <h4>第22条 （第三者のサイトおよび関与）</h4>
          <p>
            当サービスには、第三者のサイト、広告またはサービスへのリンクを含むことがあります。
            ユーザがそれらへアクセスする場合には、本規約および個別規約は適用されないものとします。
          </p>

          <h3>第12章 損害賠償等</h3>

          <h4>第23条 （ユーザによる損害賠償）</h4>
          <p>
            ユーザは、本規約に違反したことに起因する損害を当社に与えた場合、
            その責任を負うものとします。
          </p>

          <h4>第24条 （当社による損害賠償）</h4>
          <ol>
            <li>
              当社は、当社の責に帰すべき事由によりまたは当社が本規約に違反したことによりユーザが被った損害に対しての責任を負うものとします。
            </li>
            <li>
              前項における損害賠償の額は、
              当該損害が生じた日から起算して過去1年の間にユーザが当社に対して支払った本サービスの料金累計額を超えないものとします。
            </li>
          </ol>

          <h3>第13章 保証の否認・免責</h3>

          <h4>第25条 （保証の容認）</h4>
          <p>
            ユーザは、当サービスは現状有姿で提供され、
            ユーザの自己責任の下で利用することをあらかじめ承諾するものとします。
          </p>

          <h4>第26条 （免責）</h4>
          <ol>
            <li>
              当社は、以下の事由によりユーザに発生した損害については、
              債務不履行責任、不法行為責任、その他法律上の請求原因の如何を問わず、
              賠償の責任を負わないものとします。
              <ol>
                <li>天災地変、騒乱、疫病の蔓延、暴動等の当社の合理的なコントロールを超えた不可抗力</li>
                <li>ユーザ設備の障害または当サービス設備までのインターネット接続サービスの不具合等による当サービス接続環境の障害</li>
                <li>当サービス利用時のトランザクションの遅延や中断等</li>
                <li>善良なる管理者の注意を持ってしても防御し得ない当サービスおよび当サービス用設備等への第三者による不正アクセスまたはアタック、通信経路上での傍受</li>
                <li>当社が定める規約をユーザが遵守しないことに起因して発生した障害</li>
                <li>その他当社の責に帰すべからざる事由</li>
              </ol>
            </li>
            <li>
              当社は、ユーザが当サービスを利用することによりユーザと第三者との間で生じた紛争等については一切の責任を負わないものとします。
            </li>
          </ol>

          <h3>第14章 一般条項</h3>

          <h4>第27条 （プライバシーポリシー）</h4>
          <ol>
            <li>
              当社は、ユーザの個人情報を本規約に従って当サービスを適切に提供するために利用します。
            </li>
            <li>
              当社の個人情報の取り扱いについては、別途定める個人情報保護方針に則って適切に行います。
            </li>
            <li>
              当社の定める個人情報保護方針は、
              当社サイト（<a href="http://ingage.co.jp/?page_id=60">http://www.ingage.co.jp</a>）にて掲示するものとします。
            </li>
          </ol>

          <h4>第28条 （権利譲渡）</h4>
          <ol>
            <li>
              ユーザは、あらかじめ当社の書面による承諾がない限り、
              本規約上の地位および本規約に基づく権利または義務の全部または一部を第三者に譲渡してはならないものとします。
            </li>
            <li>
              当社は、当サービスの全部または一部を当社の裁量により第三者に譲渡することができるものとします。
            </li>
          </ol>

          <h4>第29条 （協議）</h4>
          <p>
            本規約に定めのない事項または疑義のある事項については、
            当社とユーザで協議の上、誠意を持って解決を図るものとします。
          </p>

          <h4>第30条 （準拠法および管轄裁判所）</h4>
          <ol>
            <li>本規約は日本法に準拠するものとします。</li>
            <li>
              当社とユーザとの間で生じた裁判上の紛争については、
              大阪地方裁判所を第一審の専属的合意管轄裁判所とします。
            </li>
          </ol>
        </div>
      </section>
    </div>


    {{> _footer}}

  </div><!-- .wrapper-inner -->
</div><!-- .wrapper -->

{{> _script}}
</body>
</html>
