<!DOCTYPE html>
<html>
<head>
  {{BASE_TAG}}

  <meta http-equiv="refresh" content="0; URL=relation">
  <link rel="canonical" href="http://ingage.jp/relation">
  <title></title>

  <script type="text/javascript">
    location.replace('relation');
  </script>
</head>
<body>
<noscript>
  <p>下記のリンクへリダイレクト</p>
  <p>
    <a href="relation">http://ingage.jp/relation</a>
  </p>
</noscript>
</body>
</html>
